<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/site/templates/docs/assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title> Owhslp</title>
    
</head>
<body>
    <div class="menu">
        <ul>
            <li><a href="https://www.instagram.com/owhslp/" class="fas fa-instagram instagram"></a></li>
            <li><a href="https://github.com/Owhslp" class="fab fa-github github"></a></li>
            <li><a href="https://twitter.com/quchfu" class="fab fa-twitter twitter"></a></li>
        </ul>
    </div>
    <div class="content">
        <h1>Hi there.</h1>
        <a href="description.html" class="btn">My description</a>
    </div>
    <div class="background-container">
        <div class="circle"></div>
        <div class="circle"></div>
    </div>
    <p>We are disturbed by our own unconsciousness; we want to unmask it, as if it were the perpetrator of our troubles.</p>
    <p> The only person with whom you have to compare yourself is you in the past. The goal is to be better than that person, not to be better than other people.</p>
    <p> ~ Zygmunt Freud </p>

</body>

</html>