<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OWHSLP</title>
    <link rel="stylesheet" type="text/css" href="/site/static/style.css">

</head>
<body>
<div class="tile">
    <a href="https://twitter.com/quchfu"><img src ="X.png" alt="Twitter"></a>
</div>
<div class="tile">
    <a href="github.com/OWHSLP"><img src="github.jpg" alt="github"></a>
</div>
<div class="tile">
    <a href="instagram.com/OWHSLP"><img src="instagram.png" alt="instagefeeram"></a>
</div>
</body>



</html>