<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale:1.0">
    <link rel="stylesheet" href="style.css">
    <title> Moja Strona</title>
    
</head>
<body>
    <div class="menu">
        <ul>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Github</a></li>
            <li><a href="#">Twitter</a></li>
        </ul>
    </div>
    <div class="content">
        <h1>HI! here is my site.</h1>
        <a href="#" class="btn">My description</a>
    </div>
    <div class="background-container"></div>
<script>
    document.querySelector(".btn").addEventListener("click", function() {
        alert("to jest opis");
    
    });
</script>
</body>
</html>