body {
    background-color: brown;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

.menu {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    padding: 20px;

}

.menu ul{
    list-style: none;
    padding: 0;

}

.menu li {
    margin-bottom: 10px;

}

.menu a {
    text-decoration: none;
    color: black;
    display: block;
    transition: transform 0.3s ease-in-out;

}

.menu a:hover {
    transform: translate(10px);

}

.content {
    text-align: center;
    margin: 0 auto;
    padding-top: 100px;

}

h1 {
    color: white;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: brown;
    text-decoration: none;
    border-radius: 50px;
    transition: transform 0.3s ease-in-out;
}



.btn:hover{
    transform: scale(1.1);

}


@keyframes moveBackground {
    0% {
        background-position: 0 0;

    }
    100% {
        background-position: 100% 0;

    }

}

body {
    background-image: linear-gradient(to right, white 50%, brown 50%);
    background-size: 200% 100%;
    animation: moveBackground 2s linear infinite;
}